%container {
  width: 80%;
  margin: 0px auto;
}

%btn {
  padding: 15px 35px;
  text-transform: uppercase;
  font-weight: 700;
  color:$blueColor;
  border-radius: 5px;
  border: 2px solid $blueColor;
  cursor: pointer;
  background: none;
  transition: background-color 600ms ease;

  &:hover {
    background-color: #dfe7f7;
  }
}

%h3 {
  font-size: 18px;
  font-weight: bold;

  &::before {
    content: "";
    height: 3px;
    background-color: $blueColor;
    position: relative;
    top: 35px;
    display: inline-block;
  }
}
